<!doctype html>
<html lang="en" ng-app="todeApp">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/todos.js"></script>
</head>
<body ng-controller="Todes">
	<div class="list-group m-t">
		<input type="text" class="form-control" ng-model="query" placeholder="search"/>
	</div>
	<div class="list-group m-t">
		<input type="text" class="form-control" ng-model="add" placeholder="add info "/>
	</div>
	
	<ul class="list-group m-t-md" >
		<li class="list-group-item" ng-repeat="x in todesarr | filter:query ">{{x}}</li>	
	</ul>
</body>
</html>